Flask
Gunicorn
alembic
anyio
bcrypt
blinker
boto3
botocore
cachelib
certifi
charset-normalizer
click
cloudinary
colorama
config
DateTime
Flask
Flask-Cors
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-Session
Flask-SQLAlchemy
greenlet
httptools
imutils
install
itsdangerous
jmespath
Mako
MarkupSafe
oauthlib
passlib
password-generator
passwordgenerator
PyJWT
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
random-password-generator
razorpay
requests
s3transfer
six
sniffio
SQLAlchemy
typing_extensions
urllib3
uvicorn
watchfiles
websockets
Werkzeug
zope.interface
gunicorn
